---
import Base from '@/layouts/Base.astro';
import Section from '@/components/Section.astro';
import Card from '@/components/Card.astro';
import { sortPostsByDate } from '@/utils/data.util';
import { AppConfig } from '@/utils/AppConfig';

const posts = await sortPostsByDate();
---

<Base head={{ title: `Posts | ${AppConfig.title}`, description: AppConfig.description }}>
	<Section>
		<div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
			{posts.map((post) => <Card post={post} />)}
		</div>
	</Section>
</Base> 