.calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .calendar-year {
    width: 100%;
  }
  .calendar-month {
    width: 100%;
  }
  .calendar-days {
    display: flex;
    flex-wrap: wrap;
  }
  .calendar-day {
    width: 14.28%;
    height: 100px;
    position: relative;
    border: 1px solid #ddd;
  }
  .day-header {
    text-align: center;
    font-weight: bold;
  }
  .calendar-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 2px;
  }
  